body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.w3schools.com%2Fhowto%2Fimg_snow_wide.jpg&imgrefurl=https%3A%2F%2Fwww.w3schools.com%2Fhowto%2Fhowto_css_image_text.asp&tbnid=MUBfi6xMIwLghM&vet=12ahUKEwjKxJTLgvPqAhVNuKQKHRvRANcQMygIegUIARC1AQ..i&docid=Ac_Pc1olXDXJrM&w=1000&h=350&q=image&ved=2ahUKEwjKxJTLgvPqAhVNuKQKHRvRANcQMygIegUIARC1AQ");
}
label{
    padding-bottom: 10px;
    display: block;
}
div{
    color: white;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

input, select, textarea{
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    display: block;
    display: inline;
}

form{
    border: solid black;
    border-radius: 10px;
    background-color: rgb(95, 184, 216);
    text-align: left;
    display: block;
    margin-left: 13%;
    margin-right: 13%;
    padding: 20px;
}

#submit{
    background-color: rgb(14, 177, 35);
    color: rgb(255, 255, 255);
    width: 100%;
}
select{
    width: 100%;
}
#name{
    width: 80%;
}
#email{
    width: 80%;
}
#number{
    width: 80%;
}
textarea{
    width: 100%;
}